<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatti | Unsic Caf</title>
    <style>
        #l1,
        #l2 {
            display: none;
            width: 100px;
            height: 50px;
        }
    </style>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="wrapper">
            <div class="form_qr">
                <div class="form">
                    <h1>Filter Contacts</h1>
                    <form action="">
                        <div class="row-input">
                            <label for="all">Tutti</label>
                            <input type="checkbox" name="tutti" id="tutti">
                        </div>
                        <div class="row-input">
                            <label for="nazione">Nazione</label>
                            <select name="nazione" id="nazione">
                                <option value="ALL" selected="selected">Tutti</option>
                                <option value="India">India</option>
                            </select>
                        </div>
                        <div class="row-input">
                            <label for="lavoro">Lavoro</label>
                            <select name="lavoro" id="lavoro">
                                <option value="ALL">Tutti</option>
                                <option value="Operaio">Operaio</option>
                                <option value="Agricoltore">Agricoltore</option>
                                <option value="Studente">Studente</option>
                                <option value="Altro">Altro</option>
                            </select>
                        </div>
                        <div class="row-input">
                            <label for="comune">Comune</label>
                            <input type="text" name="comune" id="comune" placeholder="Comune" value="Tutti">
                        </div>
                        <button type="submit" id="submit">Cerca</button>
                    </form>
                </div>
            </div>
            <div class="whatsapp_qr">
                <h1>Manda Messaggio via Whatsapp</h1>
                <button id="generate_qr">Generate Qr code</button>
                <div class="qr_image" id="qr_img"></div>
                <h3 id="wts_connected"></h3>
                <img src="./img/loading.gif" id="l1">
                <textarea name="" id="wts_msg" cols="30" rows="10"></textarea>
                <img src="./img/loading.gif" id="l2">
                <button id="send">Manda Msg</button>
                <h3 id="msg_send"></h3>
            </div>
        </div>
        <div class="client_table">
            <table>
                <tr>
                    <th>Cognome</th>
                    <th>Nome</th>
                    <th>Telefono</th>
                    <th>Nazione</th>
                    <th>Comune</th>
                    <th>Professione</th>
                </tr>
            </table>
        </div>
    </div>
    <script src="./js/paesi.js"></script>
    <script src="js/getClient.js"></script>
</body>

</html>