<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Unsic Caf</title>
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div class="container">
        <div class="contacts">
            <a href="https://unsic.herokuapp.com/addClient" class="add_client_btn">Aggiungi Cliente</a>
            <a href="https://unsic.herokuapp.com/getClient" class="get_client_btn">Contatti</a>
        </div>
    </div>
</body>

</html>