<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unicaf Boretto | Login</title>
    <link rel="stylesheet" href="./css/login.css">
</head>

<body>
    <% if(message.error) { %>
        <%= message.error %>
            <% } %>
                <div class="login">

                    <h1>Login</h1>
                    <form method="post" action="/login">
                        <input type="text" name="username" placeholder="Username" required="required" />
                        <input type="password" name="password" placeholder="Password" required="required" />
                        <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
                    </form>
                </div>
</body>

</html>